Importing the necessary dependencies

In [1]:
# Importing pandas into the environment
import pandas as pd

Understanding the customer_shopping_behaviour dataset

In [ ]:
# Loading the dataset into the environment
customer = pd.read_csv('customer_shopping_behavior.csv')

In [3]:
# Displaying the first five rows of the customer dataframe
customer.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
# Displaying the shape of the customer dataframe (rows, columns)
customer.shape

(3900, 18)

In [5]:
# Displaying the summary of the customer dataframe
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [6]:
# Displaying the statistical summary of the customer dataframe
customer.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

Data Cleaning

In [7]:
# Displaying the columns of the customer dataframe
customer.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [9]:
# Converting the column names into snake case to ensure consistency
customer.columns = customer.columns.str.lower() # converting to lower case
customer.columns = customer.columns.str.replace(' ','_') # Replace space with underscore

In [10]:
# Displaying the columns of the dataframe after conversion
customer.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [11]:
# Renaming the purchase_amount_(usd) to purchased_amount
customer = customer.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

# Displaying the column names of the dataframe
customer.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [13]:
# Checking for missing values in the customer dataframe
customer.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount            0
location                   0
size                       0
color                      0
season                     0
review_rating             37
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
dtype: int64

In [14]:
# Replace the null value with the median value of each category
customer['review_rating'] = customer.groupby('category')['review_rating'].transform(lambda x:x.fillna(x.median))

In [15]:
# Checking if the null values have been handled
customer.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount           0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

Feature Engineering

In [17]:
# creating a new column 'Age Group'
labels = ['Young Adults', 'Adults', 'Middle Age', 'Senior']

customer['age_group'] = pd.qcut(customer['age'], q=4, labels=labels)

# Displaying the first 10 age_group rows of the dataframe
customer[['age','age_group']].head(10)

   age     age_group
0   55    Middle Age
1   19  Young Adults
2   50    Middle Age
3   21  Young Adults
4   45    Middle Age
5   46    Middle Age
6   63        Senior
7   27  Young Adults
8   26  Young Adults
9   57    Middle Age

In [18]:
# Creating a new column 'Frequent_purchase_days'
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-weekly': 14,
    'Annually': 365,
    'Every 3 months': 90
}

customer['frequent_purchase_days'] = customer['frequency_of_purchases'].map(frequency_mapping)

# Displaying the first 10 frequent_purchase_days rows of the dataframe
customer[['frequency_of_purchases','frequent_purchase_days']].head(10)

  frequency_of_purchases  frequent_purchase_days
0            Fortnightly                    14.0
1            Fortnightly                    14.0
2                 Weekly                     7.0
3                 Weekly                     7.0
4               Annually                   365.0
5                 Weekly                     7.0
6              Quarterly                    90.0
7                 Weekly                     7.0
8               Annually                   365.0
9              Quarterly                    90.0

In [ ]:
# Displaying the first 10 rows of the discount_applied and promo_code_used columns of the dataframe
customer[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [ ]:
# Checking if both the columns have the same values
(customer['discount_applied'] == customer['promo_code_used']).all()

np.True_

In [ ]:
# Dropping the 'promo_code_used' columns from the dataframe
customer = customer.drop('promo_code_used', axis=1)

In [25]:
# Displaying the columns of the customer dataframe
customer.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'frequent_purchase_days'],
      dtype='object')

In [41]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

server = r"DESKTOP-D6C5HOU\SQLEXPRESS"
database = "customer_behaviour"

driver = quote_plus("ODBC Driver 17 for SQL Server")

engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}"
    f"?driver={driver}&trusted_connection=yes&TrustServerCertificate=yes",
    fast_executemany=True
)

# üîß Clean DataFrame
customer = customer.where(pd.notnull(customer), None)

for col in customer.columns:
    if customer[col].dtype == "object":
        customer[col] = customer[col].astype(str)

# ‚¨ÜÔ∏è Upload
customer.to_sql(
    "customer",
    engine,
    if_exists="replace",
    index=False,
    chunksize=1000
)

print(pd.read_sql("SELECT TOP 5 * FROM customer", engine))

c:\Users\ICG312\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\io\sql.py:1648: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  con = self.exit_stack.enter_context(con.connect())

   customer_id  age gender item_purchased  category  purchase_amount  \
0            1   55   Male         Blouse  Clothing               53
1            2   19   Male        Sweater  Clothing               64
2            3   50   Male          Jeans  Clothing               73
3            4   21   Male        Sandals  Footwear               90
4            5   45   Male         Blouse  Clothing               49

        location size      color  season review_rating subscription_status  \
0       Kentucky    L       Gray  Winter           3.1                 Yes
1          Maine    L     Maroon  Winter           3.1                 Yes
2  Massachusetts    S     Maroon  Spring           3.1                 Yes
3   Rhode Island    M     Maroon  Spring           3.5                 Yes
4         Oregon    M  Turquoise  Spring           2.7                 Yes

   shipping_type discount_applied  previous_purchases payment_method  \
0        Express              Yes                  14          Venmo
1        Express              Yes                   2           Cash
2  Free Shipping              Yes                  23    Credit Card
3   Next Day Air              Yes                  49         PayPal
4  Free Shipping              Yes                  31         PayPal

  frequency_of_purchases     age_group  frequent_purchase_days
0            Fortnightly    Middle Age                    14.0
1            Fortnightly  Young Adults                    14.0
2                 Weekly    Middle Age                     7.0
3                 Weekly  Young Adults                     7.0
4               Annually    Middle Age                   365.0